header {
  .navbar {
    padding: 30px 0;
    transition:all 0.5s ease-out;
    .navbar-brand {
      padding: 0;
      img {
        width: 171px;
        height: 40px;
      }// img
    }// .navbar-brand

    .navbar-toggle {
      background: $primary;
      border-color: $secondary;
      &:hover {
        background: $dark;
      }// hover effect
      span.icon-bar {
        background: $secondary;
      }// icon-bar
    }// .navbar-toggle


    @media only screen and (max-width:768px){
      .navbar-collapse.in {
        background: rgba($primary,0.8);
      }
    }

  }// .navbar

  .navbar-default {
    background:transparent;
    border: none;

    .navbar-nav {
        a {
          color:white;
          padding: 5px 18px;
          font-size: 18px;

          &:hover{
            color:$secondary;
            border-bottom: 3px solid $secondary;
          } // hover effect

          &:focus {
            color: white;
          }// when focus

        }//a

        .active {
          a {
              background: $primary;
              color:white;

              &:hover,&:focus {
                background: $secondary;
              }// hover effect
          } //a
        }// .active

    }//.navbar-nav

  }// .navbar-default

  .inbody {
    // background: rgba($dark,0.8);
    background: $dark;
    padding-top: 0;
    padding-bottom: 0;

    .navbar-nav {
      padding-top: 10px;
    }// navbar-nav

    .navbar-brand {
      img {
        padding-top: 10px;
        padding-bottom: 5px;
        width: 128px;
        height: 40px;
      }//
    }// .navbar-brand
  }// .inbody

  #home {
      .item {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;

        height: 100%;
        width: 100%;
      }// .item

      .carousel-caption {
        top:27%;
        left: 0;
        right: 0;
        // background: rgba($dark,0.7);
        height: auto;
        width: 550px;
        margin: 0 auto;
        text-align: center;

        h2 {
          font-size: 48px;
          font-weight: 700;
          text-transform: uppercase;
        }// h2

        h4 {
          margin-top: 10px;
          margin-bottom:30px;
          margin-left: 60px;
          margin-right: 60px;
          span {
            font-size: 24px;
            font-weight: 500;
          }// span
        }//h4

      }//.carousel-caption

  }// home id

}// header
