#page-loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background:rgba(186,50,43,1);
  z-index: 100001;
  overflow: hidden;

  .page-loader-inner {
    width: 80px;
    height: 80px;
    border: 4px solid #f3f3f3;
    border-top:5px solid #f2ce37;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    animation: spin 1.5s infinite linear;
  }// end of page-loader-inner

}// end of page-loader


// animation keyframes
@keyframes spin {
    from {
      transform: rotate(0deg);
    }to {
      transform: rotate(360deg);
    }
}
