#services {
  background-image: url('../images/slider/bedroom.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  padding: 40px 0;

  .service-container {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: rgba(white,0.8);
  }// service container

  .content {
    h2 {
      margin-bottom: 40px;
    }// h2

    .col-service {
      padding: 0 20px 40px 20px;;
      margin: 0;
        img {
          width: 70px;
          height: 70px;
          transition: all 0.6s ease;

          &:hover {
            transform:rotateZ(360deg);
          }
        }// img

        img.icon-wifi {
          width: 78px;
        }// img icon-wifi

        img.icon-bell {
          width: 47px;
        }// img icon-bell

        h4 {
          font-weight: bold;
        }// h4


    }// .col-service

  }// content

  .feature-content {
    // border:1px solid black;
    text-align: center;
    margin-top:60px;
    margin-bottom: 30px;


    .col-feature {
      margin-top: 20px;

      .img-container {
        position: relative;
        overflow: hidden;
        img {
          width: 350px;
          height: 250px;

          -webkit-transition:all 0.4s ease-in-out;
          -moz-transition:all 0.4s ease-in-out;
          -o-transition:all 0.4s ease-in-out;
          transition:all 0.4s ease-in-out;

          -webkit-transform:scale(1,1);
          -moz-transform:scale(1,1);
          -o-transform:scale(1,1);
          transform:scale(1,1);
        }// img

        .img-wrapper {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background:rgba(0,0,0,0.7);
          opacity: 0;
          z-index: 100;

          -webkit-transition:all 0.4s ease-in-out;
          -moz-transition:all 0.4s ease-in-out;
          -o-transition:all 0.4s ease-in-out;
          transition:all 0.4s ease-in-out;
        }// img-wrapper

        &:hover {
          .img-wrapper {
            opacity: 1;
          }// img-wrapper

          img {
            transform: scale(1.2,1.2);
          }
        }

      }// end of img-container

    }//.col-feature

  }// .feature-content

}// services
